* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: top;
}

input[type="text"] {
  width: 85%;
}
button {
  width: 10%;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
}

#todoWrap {
  width: 800px;
  padding: 5% 7.5%;
  margin: 0 auto;
  border: 1px solid #000;
}

#todoHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#todoBody {
  margin-top: 10%;
}

#todoList li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todoList li + li {
  margin-top: 2%;
}

#todoList input[type='text'] {
  width: 75%;
}

#todoList input:disabled {
  background-color: transparent;
  border: none;
}

#todoList input:checked + input[type='text'] {
  text-decoration: line-through;
}

